{% extends 'base.html' %}

{% block content %}
    
{% for i in featured_blogs %}
{% if forloop.first %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url({{ i.featured_image.url }});background-blend-mode: overlay;background-size:cover;">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">{{i.title}}</h1>
      <p class="lead my-3">{{i.short_description}}</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  {% endif %}
{% endfor %}

<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Category - {{category.category_name}}</h3>

  <div class="row mb-2">
    {% if blogs_by_categories %}
    {% for i in blogs_by_categories %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3>{{i.title}}</h3>
          <small class="mb-1 text-muted">{{ i.created_at | timesince }} | {{i.author}}</small>
          <p class="card-text">{{i.short_description | truncatewords:20 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>No Posts Found</h1>
    {% endif %}

  </div>
 {% endblock %}